event-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  border-radius: 5px;
	overflow: hidden;
	border: 1px solid white;
	height: fit-content;
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
		padding: 10px 10px 10px 10px;
		color: white;
		background: rgba(127, 203, 172, 0.5);
    h1 {
      flex: 0 0 100%;
      text-align: center;
      margin: 0 0 10px 0;
    }
    date-time, count-down {
      margin: 2px 0;
    }
  }
  main {
    display: flex;
    flex-direction: column;
		padding: 0px 10px 10px 10px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        padding: 2px;
        margin: 10px 0;
        p {
          flex: 1 1 auto;
          font-size: 20px;
					margin: 0;
					color: white;

        }
        // button {}
      }
    }
    form {
      display: flex;
      input {
        flex: 1 1 auto;
        height: 45px;
				font-size: 22px;
				background: none;
				border: none;
				border-bottom: 1px solid white;
				outline: none;
      }
      // button {}
    }
  }
}

event-card button {
	height: 35px;
	width: 35px;
	font-size: 35px;
	font-weight: bold;
	background: none;
	border: 1px solid white;
	color: white;
	border-radius: 100%;
	line-height: 35px;
	text-align: center;
	outline: none;
	cursor: pointer;
}
